.a1{
    font-size: 35px;
   color: aqua;
   background-color: red;
   text-align: justify;
}
li,ul{
    padding-left: 47px;
}
.a0{
    color: blue;
    font-size: 30px;
    background-color: aqua;
}
.a2{
    font-size: 33px;
    background-color: orangered;
    color: chartreuse;
}
.a3{
    color: black;
}
.a4{
    color: black;
    font-size: 60px;
}
.a5{
    color: black;
    font-size: 60px;
}
.a6{
    font-size: 30px;
    background-color: chartreuse;
    color: brown;
}
.a7{
    font-size: 50px;
    color: brown;
}
.a8{
    font-size: 50px;
    color: brown;
}
.a9{
    font-size: 40px;
    background-color: aqua;
    color: black;
}
.a10{
    font-size: 40px;
    background-color: cornflowerblue;

}
.a11{
    font-size: 40px;
    background-color: crimson;
}